@import "./variables.scss";

@mixin pick-many-mode {
    display: inline-block;
    transition: transform 0.3s;

    [data-mode="pick-many"] & {
        transform: translateX(20px);
    }
}

.emmet-re-view__list {
    display: block;
    padding: 0;
    list-style-type: none;
    margin: 0;
    max-height: 100%;
    overflow: auto;
    @include default-font;

    &-item {
        border-bottom: 1px solid #ddd;
        transition: background-color 0.3s;
        position: relative;

        &:hover {
            color: #000;
            background: #D8FDF6;
        }

        &-input {
            position: absolute;
            top: 7px;
            margin-left: -15px;
            @include pick-many-mode;
        }

        &-label {
            display: block;
            padding: 7px;
            cursor: pointer;
            white-space: nowrap;
            text-overflow: ellipsis;

            &-inner {
                @include pick-many-mode;
            }
        }

        input:checked + &-label {
            background: #DCDCDC;
            box-shadow: inset 2px 2px 9px 0px rgba(0,0,0,0.3);
            color: #757575;
            text-shadow: 1px 1px 0px rgba(255,255,255,0.50);
        }
    }
}
