$main-font: 'helvetica neue', helvetica, arial, sans-serif;
$main-color: #20b89a;
$main-color-hl: lighten($main-color, 5%);
$ui-transition-time: 0.3s;

@mixin default-font {
    font-family: $main-font;
    font-weight: 200;
}

@mixin toggler {
    background: #fff;
    line-height: 2;
    font-size: 13px;
    padding: 0 15px;
    border: 1px solid #6D6B6B;
    cursor: pointer;
    transition: background-color 0.2s;
    white-space: nowrap;

    &:not([class*='selected']):hover {
        background: #D8FDF6;
    }
}
